<div class="relative about-container min-h-[100vh]">

  <div class="flex top mb-4 w-full items-center gap-6">
    <div class="bg-white h-[1px] grow opacity-[0.7]"></div>
    <h2 class="text-[4rem] tracking-widest provicali text-white uppercase">
      ¡ hola !
    </h2>
  </div>

  <div class="w-full  flex text-white flex-wrap">
    <!-- Inicio seccion : imagen, description, idiomas, educacion -->
    <div class="w-full flex gap-4 ">
        
    <div class="picture w-1/3 rounded-xl overflow-hidden">

      <img
        src="../../../assets/zyro-image.png"
        alt=""
        class="object-cover "
      /> 

      <div class="px-4">
        <h2 class="uppercase provicali text-3xl my-4 ">contacto</h2>

        <div class="flex flex-col">
          <div class=" flex items-center gap-4 py-1">
            <i class="far fa-envelope"></i>
            <a href="#" class="montserrat"> dev.matiasgonzalez@gmail.com </a>
          </div>
          <div class=" flex items-center gap-4 py-1">
            <i class="fab fa-linkedin-in"></i>
            <a href="#" class="montserrat">
              linkedin.com/in/matias--gonzalez
            </a>
          </div>
          <div class="flex items-center gap-4 py-1">
            <i class="fab fa-github"></i>
            <a href="#" class="montserrat"> github.com/MatiasG0nzalez </a>
          </div>
        </div>
      </div>

    </div>

    <div class="about-text text-gray-200  w-2/3 h-full">

      <div class="description text-end  pb-8 pl-4 h-1/3">
        <p>
         Me llamo Matias Emmanuel Gonzalez, soy Desarrollador Full Stack y estudiante de la carrera Ingeniería en Sistemas de Información en la Universidad Nacional de La Rioja (UNLAR), actualmente cursando tercer año. Tengo 24 años de edad, nací y crecí en la provincia de La Rioja.
        </p>

        <p> <br>
            Cuento con mas de un año de
            aprendizaje y practica continua en el area de la
            programación. Cuento con amplia expieriencia desarrollando
            aplicaciones web modernas y escalables. Soy un
            solucionador de problemas apasionado y disfruto
            enfrentando desafíos técnicos y encontrando soluciones
            eficientes. Me enorgullece seguir las mejores prácticas de
            desarrollo y escribir un código limpio y mantenible.
        </p>
      </div>

      <div class="text-end grid grid-cols-3 rounded border-white/25 border-y h-1/3">
        <div
          class="py-4 border-r border-white/25 px-4 text-end my-4 flex flex-col justify-between"
        >
          <h2 class="uppercase provicali my-4 text-3xl">idiomas</h2>

          <ul class="text-sm">
            <li>Español (Nativo)</li>
            <li>Inglés (Intermedio)</li>
          </ul>
        </div>

        <div class="py-4 px-4 my-4 col-span-2 flex justify-between flex-wrap flex-col">
          <h2 class="uppercase provicali my-4 text-3xl">educación</h2>

          <div class="flex justify-end">
            <ul class="px-4">
              <li class="font-bold montserrat uppercase my-2">
                escuela secundaria
              </li>
              <li class="text-sm">Colegio Pre Universitario Gral San Martin</li>
            </ul>

            <ul class="">
              <li class="font-bold montserrat uppercase my-2">
                Ingeniería en sistemas (En curso)
              </li>
              <li class="text-sm">Universidad Nacional De La Rioja</li>
            </ul>
          </div>
        </div>
      </div>

      <div class=" px-4  h-1/3 flex items-center flex-wrap text-end justify-end">
        <h2 class="uppercase provicali  my-4 text-3xl ">Experiencia</h2>

        <div class="flex justify-end gap-2 text-gray-200 ">

          <ul class="w-1/2">
            <li class="font-bold montserrat uppercase my-2">
             MINDHUB LA <span class="tracking-widest">(08/22 - 12/22 [4 meses]) </span>
            </li>
            <li class="text-sm">Bootcamp de mas de 700 horas simulando un entorno laboral real, bajo la metodologia agil SCRUM donde practiqué tecnologias como Java, Spring Boot, VueJs, entre otras.</li>
          </ul>

          <ul class="w-1/2">
            <li class="font-bold montserrat uppercase my-2">
              Dicsys Academy <span class="tracking-widest">(04/23 - 07/23 [3 meses]) </span>
            </li>
            <li class="text-sm">Academia donde se abordaron metodologias y herramientas de desarrollo como Docker, PHP, Angular, Java, Spring Boot, Ionic, Genexus, Node, Nestjs, entre otras.</li>
          </ul>
        </div>
      </div>

    </div>
    
    </div>
    

    <!-- Fin seccion : imagen, description, idiomas, educacion -->
    <div class="w-full flex border-b gap-4  border-white/25">
      <div class="contact w-1/3 my-4">
        
      </div>

      <div class="tools  w-2/3">
        
        


       
        
      </div>

    </div>

  </div>
</div>
