<div class="relative flex items-center text-white bg-2 home-container min-h-[100vh]">

    <div class="flex absolute top-0  my-8  w-full items-center gap-6"> 
        <p class="montserrat font-bold">Full Stack Developer</p> <div class=" bg-white h-[1px] grow opacity-[0.4]"> </div>
    </div>
    
    <div class="px-16 relative  ">
        

        
        <h1 class="text-[15rem] title provicali uppercase leading-[0.8]">
        
            skills
           
        </h1>

        <h1 class="text-[15rem] title provicali uppercase rotate-[180deg]  absolute opacity-[0.2] blur-sm scale-x-[-1] leading-[0.8]">
        
            Skills <br>
           
        </h1>
    
       
    
    </div>

    <div class="flex absolute bottom-0  my-8  w-full items-center gap-6"> 
        <div class=" bg-white h-[1px] grow opacity-[0.4]"> </div> <p class="montserrat font-bold">Matias Emmanuel Gonzalez</p> 
    </div>

</div>





