
<div class="relative home-container min-h-[100vh]">

    <div class="flex absolute top  my-8  w-full items-center gap-6"> 
        <p class="montserrat font-bold">Full Stack Developer</p> <div class=" bg-white h-[1px] grow opacity-[0.4]"> </div>
    </div>
    
    <div class="flex justify-between items-center  px-16 ">
    
        <h1 class="text-[15rem] title provicali uppercase leading-[0.8]">
            por <br>
            tafo <br>
            lio
        </h1>
    
        <div class="h-[100vh] w-1/2">
    
            <img src="" alt="">
            
        </div>
    
    </div>

    <div class="flex absolute bottom-0  my-8  w-full items-center gap-6"> 
        <div class=" bg-white h-[1px] grow opacity-[0.4]"> </div> <p class="montserrat font-bold">Matias Emmanuel Gonzalez</p> 
    </div>

</div>





